.flex {
    display: flex;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-table {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 16px;
    width: 80%;
    min-height: 700px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
}

.height-200 {
    height: 200px;
}

.height-400 {
    height: 400px;
}

.m-60 {
    margin: 60px;
}

.m-bot-0 {
    margin-bottom: 0;
}

.m-bot-20 {
    margin-bottom: 20px;
}

.m-left-20 {
    margin-left: 20px;
}

.m-left-60 {
    margin-left: 60px;
}

.m-left-90 {
    margin-left: 90px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-top-60 {
    margin-top: 60px;
}

.size-200-200 {
    width: 200px !important;
    height: 200px;
}

.size-400-400 {
    width: 400px;
    height: 400px;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.width-140 {
    width: 140px;
}

.width-200 {
    width: 200px;
}

.width-400 {
    width: 400px;
}

.width-90 {
    width: 90px;
}